@media (min-width:768px){

.hero{

    position:relative;

}

.data{

    position:absolute;
    top:40px;
    left:40px;
    width:320px;

}

.weather{

    position:absolute;
    bottom:40px;
    right:40px;
    width:280px;

}

.weather-icon{

    display:none;

}

.weather h2::after{

    content:" ⛅";

}

}