*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Roboto", sans-serif;
    text-align: center
}

header{
    background:#3d5a80;
    color:white;
    padding:1rem;
    display:grid;
    grid-template-columns:1fr auto;
    align-items:center;
}

#menu{
    font-size:2rem;
    background:none;
    border:none;
    color:white;
    cursor:pointer;
    width:50px;
    height:50px;
}

#menu::before{
    content:"☰";
}

#menu.open::before{
    content:"✖";
}

nav{
    display:none;
    flex-direction:column;
}

nav.open{
    display:flex;
}

nav a{
    text-decoration:none;
    color:white;
    padding:1rem;
    text-align:center;
}

nav a:hover{
    background:white;
    color:#3d5a80;
}

main{
    max-width:900px;
    margin:0 auto;
    padding:1rem;
}

h1{
    font-size:2rem;
    text-align:left;
}

h2{
    text-align:center;
    margin:1rem 0;
}

.gallery{
    display:grid;
    grid-template-columns:1fr;
    gap:20px;
}

img{
    width:100%;
    height:auto;
}

footer{
    background:#3d5a80;
    color:white;
    text-align:center;
    padding:20px;
}

footer p{
    margin:5px;
}